<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121784140-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121784140-1');
    </script>
    <meta http-equiv="content-type" content="text/html/aspx" />
    <title>Call centre and virtual assistant provider | New Zealand | Australia</title>
    <meta charset="utf-8">
    <meta name="author" content="Jhiggy Abesamis">
    <meta name="description" content="We offer telesales, telemarketing, inbound call centre and virtual assistants services" />

    <meta name="keywords" content="Wellington Call Centre, New Zealand Call centre, Outbound Call Centres, Inbound Call Centres, Multilingual Call centre,Customer service outsourcing, direct response Call centre 
Direct Marketing, Email Marketing, Database Cleaning,Intelligent Data , Outsourced Contact Centre, contact centre services, call centre solution,BPO UK, Inbound call centre 
Service management software, Call centre software, Customer service software,Call centre technology, Field service software 
Call Handling, Telephone Answering, Business Answering Services,Call Centre Serices, Call Centres 
cheap international calls, long distance calling numbers, call answering, telephone answering, Learner Find, Employer Engagement , Are you relying on your voicemail as your reception?, Do you find that your phones interrupt your working day?, High advertising costs, can you afford to miss potential business?,When youre not available we will be., Free weeks trail available to first 10 customers, quoting reference KASOFFER7 
Call Centre Sales, telemarketing, Wellington call campaigns,Marketing campaigns, sell products 
Call centre, call services, answering services, Call centre, Answering services, Phone answering services,Call answering services, Virtual Call centre, Premium Rate Services, IVR solutions,Telephone Psychic Readings, IVR systems 
call centre, international call centre, lead generation glasgow, multilingual call centre services,outbound sales, B2B outsourcing 
love2talk, limited, flirt,talk, chat 
automotive, contact centre, call centre,customer retention, customer loyalty 
outsource contact centre, telesales, out of hours,customer service, Call centre, Outsourcing, Fulifilment, data entry, data processing, inbound chat customer support, software development,scanning, interner research 
Call Centres, Contact Centres, Communicatoin Centres , call centre services, multilingual call centre, global call centre, Call Centre Service, Inbound Call centre, Telemarketing services,Contact centre, Call Centre Outsourcing 
Telemarketing, Telesales, Lead Generation,Customer Service, Data Cleansing 
Telemarketing , Call centre, Telesales,Telemarketing services, Telemarketing campaigns 
Call Centre, Call Handling, Virtual Reception,Out of Hours, Inbound Call HAndling Services 
secured loan leads, unseucred loan leads, debt management leads,iva leads, remortgage leads 
customer service, order-taking & fulfillment, logistics,telephone-answering, meeting management 
website agency, call centre, telemarketer,webdesign , customer service 
virtual receptionist, answering service, virtual call centre,call handling in New Zealand, call centre outsourcing service 
h, e, l,e, n 
call centre, call centre services, telephone answering service,call handling service, order processing 
BPO, call centre, outsourcing,Inbound, outbound 
Telephone Answering, Telemarketing, Call Centre,Call Handling, Contact Centre 
SMS, text, messaging,call, centre 
Call Centre, Inbound Outbound, Outsourcing,Fulfilment, Oracall Journeycall 
Call Centre, Contact Centre, Answer Service,Telephone Answering, Messaging Services 
Telemarketing, Call answering, Virtual assistant,Virtual office, Virtual PA">
    <meta name="robots" content="index, follow" />
    <meta name="DC.title" content="Business solution, outsourcing, outsourcing call centre,1 Solve Solutions - Focus on reaching your business potential - Call Center and Virtual Assistants" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="http://www.1solvesolutions.co.nz/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="1 Solve Solutions - Call centre and virtual assistant provider" />
    <meta property="og:description" content="1 Solve Solutions - Focus on reaching your business potential - Call Centre and Virtual Assistants providers" />
    <meta property="og:image" content="http://www.1solvesolutions.co.nz/images/call.jpg" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="~/image/ico" href="~/images/logo.ico" />

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/materialize.css" rel="stylesheet" />

</head>

<body>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '224782011681451');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=224782011681451&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Price</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Foundation</a></li>
        @*<li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>*@
    </ul>
    <nav class="grey" role="navigation">
        <div class="nav-wrapper">

            <a id="logo-container" href="#" class="brand-logo">
                <img class="responsive-img" style="max-width:300px;" src="~/images/logo.png" alt="1 Solve Solutions call centre logo" title="Cheap call centre and virtual assistants provider">
            </a>
            <ul class="right hide-on-med-and-down">

                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                <li><a href="@Url.Action("HowItWorks", "Home")">How It Works</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>

                <li><a href="@Url.Action("Foundation", "Home")">Foundation</a></li>
                <li><a href="@Url.Action("Pricing", "Home")">Price</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                @*<li>@Html.ActionLink("Blog", "Index", "Blog", null, new { target = "_blank" })</li>*@
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                <li><a href="@Url.Action("HowItWorks", "Home")">How It Works</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>

                <li><a href="@Url.Action("Foundation", "Home")">Foundation</a></li>

                <li><a href="@Url.Action("Pricing", "Home")">Price</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                @*<li>@Html.ActionLink("Blog", "Index", "Blog", null, new { target = "_blank" })</li>*@
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    @RenderBody()

    <footer class="page-footer orange">

        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">About Us</h5>
                <h6 class="white-text">
                    <strong>
                        Flexible Virtual Assistants & Call
                        Centre Solutions
                    </strong>
                </h6>
                <p class="grey-text text-lighten-4">
                    We are a <strong>call centre and virtual assistants</strong> company provider that <strong>outsource resources from the Philippines</strong>. We offer <strong>telesales</strong>,
                    <strong>telemarketing</strong>, <strong>inbound call centre</strong> and <strong>virtual assistants</strong> services. Our pricing are so <strong>cost-effective</strong> that
                    it is ideal for <strong>start-up</strong>, <strong>small-medium sized enterprises</strong> and even to individuals like <strong>sole proprietorship</strong>, <strong>tradies</strong> and <strong>builders</strong>.
                    We have experiences in <strong>insurance telemarketing</strong>, <strong>cable subscriptions selling</strong>,
                    <strong>pharmaceutical sales</strong> and <strong>virtual assistants</strong> services for <strong>tradies</strong>, <strong>start-up</strong> and <strong>small companies</strong>.
                    Contact us now to talk about our <strong>inexpensive packages</strong>.
                </p>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Pages</h5>
                <ul>
                    <li><a class="white-text" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a class="white-text" href="@Url.Action("Services", "Home")">Services</a></li>
                    <li><a class="white-text" href="@Url.Action("HowItWorks", "Home")">How It Works</a></li>
                    <li><a class="white-text" href="@Url.Action("About", "Home")">About</a></li>
                    <li><a class="white-text" href="@Url.Action("Foundation", "Home")">Foundation</a></li>
                    <li><a class="white-text" href="@Url.Action("Pricing", "Home")">Pricing</a></li>
                    <li><a class="white-text" href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="http://www.facebook.com/1solvesolutions/">Facebook</a></li>
                    <li><a class="white-text" href="http://www.instagram.com/1solvesolutions/">Instagram</a></li>
                    <li><a class="white-text" href="http://www.linkedin.com/company/1solvesolutions/">Linkedin</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="row">
                <div class="col s12">
                    <div class="white-text center-align">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> | Trading as <strong>1 Solve Solutions</strong> | NZBN 9429 0468 28866 | All rights reserved.
                        <br />
                        <a class="white-text" href="~/Documents/SERVICE AGREEMENT.pdf">Service Agreement</a> | <a class="white-text" href="~/Documents/T&C.pdf">Terms & Conditions</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/init.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".slider").slider();
        });

    </script>
</body>
</html>
