<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121784140-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121784140-1');
    </script>
    <meta http-equiv="content-type" content="text/html/aspx" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content=@ViewBag.Description />


    <meta name="keywords" content="Outbound Call Centre, Inbound Call Centre, Outsourcing, Telemarketing, Telesales, Lead Generation, Customer Service, Virtual assistant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:url" content="http://www.1solvesolutions.co.nz/" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="Cost-effective call centre and virtual assistants company provider that outsource resources from the Philippines. We offer inbound & outbound call centre & virtual assistants services. Ideal for start-up, small-medium sized enterprises and individuals like sole proprietorship, tradies and builders" />
    <meta name="og:description" content="Cost-effective call centre and virtual assistants company provider that outsource resources from the Philippines. We offer inbound & outbound call centre & virtual assistants services. Ideal for start-up, small-medium sized enterprises and individuals like sole proprietorship, tradies and builders" />
    <meta name="og:image" content="http://www.1solvesolutions.co.nz/images/call.jpg" />
    <meta name="fb:app_id" content="1905679722801491" />
    <meta name="og:site_name" content="1 Solve Solutions">
    <meta name="og:email" content="enquiries@1solvesolutions.co.nz" />
    <meta name="og:phone_number" content="+642102470610" />

    <meta name="tag" content="telesales" />

    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="~/image/ico" href="~/images/logo.ico" />

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '224782011681451');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=224782011681451&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Price</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Foundation</a></li>
        @*<li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>*@
    </ul>
    <nav class="grey" role="navigation">
        <div class="nav-wrapper">

            <a id="logo-container" href="#" class="brand-logo">
                <img class="responsive-img" style="max-width:300px;" src="~/images/logo.png" alt="1 Solve Solutions call centre logo" title="Cheap call centre and virtual assistants provider">
            </a>
            <ul class="right hide-on-med-and-down">

                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                <li><a href="@Url.Action("HowItWorks", "Home")">How It Works</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>

                <li><a href="@Url.Action("Foundation", "Home")">Foundation</a></li>
                <li><a href="@Url.Action("Pricing", "Home")">Price</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                @*<li>@Html.ActionLink("Blog", "Index", "Blog", null, new { target = "_blank" })</li>*@
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                <li><a href="@Url.Action("HowItWorks", "Home")">How It Works</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>

                <li><a href="@Url.Action("Foundation", "Home")">Foundation</a></li>

                <li><a href="@Url.Action("Pricing", "Home")">Price</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                @*<li>@Html.ActionLink("Blog", "Index", "Blog", null, new { target = "_blank" })</li>*@
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    @RenderBody()

    <footer class="page-footer orange">

        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">About Us</h5>
                <h6 class="white-text">
                    <strong>
                        Flexible Virtual Assistants & Call
                        Centre Solutions
                    </strong>
                </h6>
                <p class="grey-text text-lighten-4">
                    We are a <strong>call centre and virtual assistants</strong> company provider that <strong>outsource resources from the Philippines</strong>. We offer <strong>telesales</strong>,
                    <strong>telemarketing</strong>, <strong>inbound call centre</strong> and <strong>virtual assistants</strong> services. Our pricing are so <strong>cost-effective</strong> that
                    it is ideal for <strong>start-up</strong>, <strong>small-medium sized enterprises</strong> and even to individuals like <strong>sole proprietorship</strong>, <strong>tradies</strong> and <strong>builders</strong>.
                    We have experiences in <strong>insurance telemarketing</strong>, <strong>cable subscriptions selling</strong>,
                    <strong>pharmaceutical sales</strong> and <strong>virtual assistants</strong> services for <strong>tradies</strong>, <strong>start-up</strong> and <strong>small companies</strong>.
                    Contact us now to talk about our <strong>inexpensive packages</strong>.
                </p>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Pages</h5>
                <ul>
                    <li><a class="white-text" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a class="white-text" href="@Url.Action("Services", "Home")">Services</a></li>
                    <li><a class="white-text" href="@Url.Action("HowItWorks", "Home")">How It Works</a></li>
                    <li><a class="white-text" href="@Url.Action("About", "Home")">About</a></li>
                    <li><a class="white-text" href="@Url.Action("Foundation", "Home")">Foundation</a></li>
                    <li><a class="white-text" href="@Url.Action("Pricing", "Home")">Pricing</a></li>
                    <li><a class="white-text" href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </div>
            <div class="col l1 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="http://www.facebook.com/1solvesolutions/">Facebook</a></li>
                    <li><a class="white-text" href="http://www.instagram.com/1solvesolutions/">Instagram</a></li>
                    <li><a class="white-text" href="http://www.linkedin.com/company/1solvesolutions/">Linkedin</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="row">
                <div class="col s12">
                    <div class="white-text center-align">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> | Trading as <strong>1 Solve Solutions</strong> | NZBN 9429 0468 28866 | All rights reserved.
                        <br />
                        <a class="white-text" href="~/Documents/SERVICE AGREEMENT.pdf">Service Agreement</a> | <a class="white-text" href="~/Documents/T&C.pdf">Terms & Conditions</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/init.js"></script>
    <!--Materializecss Slider-->
    <script>
    $(document).ready(function () {

            $('.slider').slider({
                full_width: true
            });
        });
    </script>
</body>
</html>
