

<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/images/callcenter.jpg" class="responsive-img" alt="call centre consultant" title="Consult us now for call centre solutions" />
            <div class="caption left-align">
                <h2 class="light grey-text text-lighten-3 title"><strong>Telesales - Telemarketing</strong></h2>
                <h6 class="light grey-text text-lighten-3">Profitability | Productivity | Lead Generation</h6>
                @*                <h6 class="light grey-text text-lighten-3">Focus on your core competencies!</h6>*@
                <a class="waves-effect waves-light light-blue btn-large" href="@Url.Action("HowItWorks", "Home")"><i class="material-icons right">info</i>Learn more</a>
            </div>
        </li>
        <li>
            <img src="~/images/classroom.jpg" class="responsive-img" alt="call centre classroom type setup" title="Classroom type call centre office" />
            <div class="caption right-align">
                <h2 class="light grey-text text-lighten-3 title"><strong>Inbound - Customer Service</strong></h2>
                <h6 class="light grey-text text-lighten-3">After-Sales | Troubleshooting | Help Line</h6>
                @*              <h6 class="light grey-text text-lighten-3">Enhance experience</h6>*@
                <a class="waves-effect waves-light light-blue btn-large" href="@Url.Action("Inbound", "Home")"><i class="material-icons right">info</i>Learn more</a>
            </div>
        </li>
        <li>
            <img src="~/images/header-bg-3.jpg" class="responsive-img" alt="call centre world" title="Consult us now for call centre solutions" />
            <div class="caption left-align">
                <h3 class="light grey-text text-lighten-3 title"><strong>Personal Secretaries - Remote Employees</strong></h3>
                <h6 class="light grey-text text-lighten-3">Organise | Prioritise | Delegate</h6>
                @*<h6 class="light grey-text text-lighten-3">Making it easy for you!</h6>*@
                <a class="waves-effect waves-light light-blue btn-large" href="@Url.Action("VirtualAssistants", "Home")"><i class="material-icons right">info</i>Learn more</a>
            </div>
        </li>
        <li>
            <img src="~/images/freeservicetrialcard.JPG" class="responsive-img" alt="free call centre service trial" title="Consult us now for call centre solutions" />
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3 title"><strong>Virtual Assistants - Call Centre</strong></h3>
                <h6 class="light grey-text text-lighten-3">2 hrs daily or 16 hrs</h6>
                @*<h6 class="light grey-text text-lighten-3"><strong>No cost no commitment</strong></h6>*@
                <a class="waves-effect waves-light light-blue btn-large" href="@Url.Action("VirtualAssistants", "Home")"><i class="material-icons right">info</i>Learn more</a>
            </div>
        </li>
        <li>
            <img src="~/images/header-bg-2.jpg" class="responsive-img" alt="cheap call centre solutions" title="cheap call centre solutions" />
            <div class="caption center-align">
                <h3 class="light grey-text text-lighten-3"><strong>Reducing business costs.</strong></h3>
                <h6 class="light grey-text text-lighten-3">Starting $12 per hour.</h6>
                <a class="waves-effect waves-light light-blue btn-large" href="@Url.Action("VirtualAssistants", "Home")"><i class="material-icons right">info</i>Learn more</a>
            </div>
        </li>
    </ul>
</div>




<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text">Our Services</h1>
        <div class="row center">
            <h5 class="header col s12 light"><strong>Services tailored to suit your business model</strong></h5>
        </div>
    </div>
</div>



<div class="section">
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">

            <div class="card blue-grey darken-1 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons center-align">monetization_on</i> <strong>Telesales</strong></span>
                    <p>
                        We provide support to organisations seeking to sell their products or services over the <strong>telephone</strong>.
                    </p>
                </div>
                <br />
                <br />
                <div class="card-action">
                    <a href="@Url.Action("HowItWorks", "Home")" class="waves-effect waves-light btn blue">Read More</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card blue-grey darken-1 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons center-align">contact_phone</i> <strong>Telemarketing</strong></span>
                    <p>
                        We offer services that creates <strong>opportunities, factors customer feedback, makes appointments and leads</strong> by telephone.
                    </p>
                </div>
                <br />
                <div class="card-action">
                    <a href="@Url.Action("HowItWorks", "Home")" class="waves-effect waves-light btn blue">Read More</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card blue-grey darken-1 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title center-align"><i class="material-icons center-align">phone_in_talk</i> <strong>Customer Service</strong></span>
                    <p>
                        We offer services that can help you get a <strong>general helpline</strong> up and running and will show <strong>empathy</strong> to your <strong>customers</strong>, providing better and more accessible <strong>customer support</strong>.
                    </p>
                </div>
                <div class="card-action">
                    <a href="@Url.Action("Inbound", "Home")" class="waves-effect waves-light btn blue">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">

            <div class="card blue-grey darken-1 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons center-align">assistant</i> <strong>Virtual Assistants</strong></span>
                    <p>
                        We offer <strong>highly skilled virtual assistants</strong> who can be trained on <strong>specific tasks</strong> so you can focus more on growing your <strong>business</strong>.
                    </p>
                </div>
                <br /><br />
                <div class="card-action">
                    <a href="@Url.Action("VirtualAssistants", "Home")" class="waves-effect waves-light btn blue">Read More</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card blue-grey darken-1 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons center-align">sentiment_very_satisfied</i> <strong>Personal Secretary</strong></span>
                    <p>
                        We offer <strong>personal administration and clerical management</strong>, providing resources that will
                        <strong>support your organizations</strong> to your day-to-day activities. <strong>A partnership you can depend on</strong>.
                    </p>
                    <br />
                </div>
                <div class="card-action">
                    <a href="@Url.Action("VirtualAssistants", "Home")" class="waves-effect waves-light btn blue">Read More</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card blue-grey darken-1 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons center-align">assignment_turned_in</i> <strong>Operational Support</strong></span>
                    <p>
                        We will perform <strong>
                            any duties that are needed to support
                            your back office
                        </strong>, ensuring this area of your business you won’t have to be concerned
                        about.
                    </p>
                    <br />
                    <br />
                </div>

                <div class="card-action">
                    <a href="@Url.Action("VirtualAssistants", "Home")" class="waves-effect waves-light btn blue">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>

@{
    Html.RenderPartial("_Contact");
}

