
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s12">
        <div id="headers" class="section scrollspy">
            <h1 class="header center orange-text">Our services</h1>
            <p>
                <strong>1SolveSolutions</strong> aims to provide services to <strong>
                    builders, traders, restaurant owners,
                    business associates, insurance brokers, local businesses and professional associations
                </strong>.
                Giving them an option for a more  <strong>cost-effective and professional business solution</strong>.
            </p>
            <div class="card-panel">
                <div class="card-content black-text">
                    <span class="card-title"><i class="material-icons center-align">monetization_on</i> <strong>Telesales - Outbound Call Centre Services</strong></span>
                    <p>
                        Our experienced <strong>Telesales representatives</strong> will <strong>contact your existing customers and new prospects to attempt to sell products or services</strong>.
                        We will use a database you have provided to <strong>identify customers</strong> who have <strong>bought a product</strong> in the past or <strong>prospects</strong> whose <strong>profiles indicate that they are likely to buy</strong>.
                        Using our <strong>telesales team to sell directly to customers can increase sales and reduce the cost of sales</strong>, compared with the equivalent cost of a <strong>field sales team</strong>.
                    </p>
                    <a href="@Url.Action("HowItWorks", "Home")" class="waves-effect waves-light btn blue">Learn More</a>
                </div>
            </div>
            <div class="divider">     </div>
            <div class="card-panel">
                <div class="card-content black-text">
                    <span class="card-title"><i class="material-icons center-align">contact_phone</i> <strong>Telemarketing - Outbound Call Centre Services</strong></span>
                    <p>
                        Our experienced <strong>Telemarketing representatives</strong> will <strong>promote a wide variety of your products and services</strong> either via <strong>direct selling</strong> or through <strong>information gathering</strong>.
                        They will <strong>contact</strong> people to <strong>solicit sales</strong> by reading <strong>scripts</strong> and describing products. It's just like normal <strong>selling</strong>, we will bring the <strong>shopping experience right at your customers</strong>.
                    </p>
                    <a href="@Url.Action("HowItWorks", "Home")" class="waves-effect waves-light btn blue">Learn More</a>
                </div>

            </div>
            <div class="divider">     </div>
            <div class="card-panel">
                <div class="card-content black-text">
                    <span class="card-title center-align"><i class="material-icons center-align">phone_in_talk</i> <strong>Customer Service with Empathy - Inbound Call Centre Service</strong></span>
                    <p>
                        Our experienced <strong>Customer Service representatives</strong> will <strong>answer products and services questions</strong>; <strong>suggesting information</strong> about other <strong>products and services (inbound sales)</strong>.
                        Will <strong>resolve products or services problems</strong> by clarifying the <strong>customer's complaint</strong>; determining the <strong>cause of the problem</strong>; selecting and explaining the <strong>best solution</strong> to solve the problem; expediting correction or adjustment; following up to ensure resolution.
                    </p>
                    <a href="@Url.Action("Inbound", "Home")" class="waves-effect waves-light btn blue">Learn More</a>
                </div>

            </div>
            <div class="divider">     </div>
            <div class="card-panel">
                <div class="card-content black-text">
                    <span class="card-title"><i class="material-icons center-align">assistant</i> <strong>Virtual Assistants</strong></span>
                    <p>
                        Our experienced <strong>Virtual Assistants</strong> will be able to work <strong>independently and enthusiastically keep your business running</strong> by <strong>freeing up your time by delegating all your clerical and administrative tasks</strong>.
                        They are perfect for those repitetive tasks that are clearly defined and give them your time they are more than willing to do more complex business tasks you are comfortable giving to them.
                                                                                                                                                                                   <strong>A partrnership you can definitely depend on</strong>.
                    </p>
                    <a href="@Url.Action("VirtualAssistants", "Home")" class="waves-effect waves-light btn blue">Learn More</a>
                </div>

            </div>
            <div class="divider">     </div>
            <div class="card-panel">
                <div class="card-content black-text">
                    <span class="card-title"><i class="material-icons center-align">sentiment_very_satisfied</i> <strong>Personal Secretary</strong></span>
                    <p>
                        Our experienced <strong>Personal Secretaries</strong> will be able act as your <strong>first point of contact</strong>: <strong>dealing with correspondence and managing your team</strong>.
                        Keeping diaries and organising meetings and appointments,  they will do booking and travel arrangements, transport and accommodation for you.

                    </p>
                    <a href="@Url.Action("VirtualAssistants", "Home")" class="waves-effect waves-light btn blue">Learn More</a>
                </div>

            </div>
            <div class="divider">     </div>
            <div class="card-panel">
                <div class="card-content black-text">
                    <span class="card-title"><i class="material-icons center-align">assignment_turned_in</i> <strong>Operational Support</strong></span>
                    <p>
                        Our experienced <strong>Operational Supports</strong> will be able to perform any duties that are needed for your <strong>business to run smoothly</strong>.
                        They will be able to effectively delegate information to other teams or departments within your organization. Effectively communicate with your team members and have the ability to rapidly record information. Order supplies and prepare sales report.

                    </p>
                    <a href="@Url.Action("VirtualAssistants", "Home")" class="waves-effect waves-light btn blue">Learn More</a>
                </div>

            </div>
        </div>
    </div>
</div>
    @{
        Html.RenderPartial("_Contact");
    }
