
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div id="headers" class="section scrollspy">
        <h1 class="header">Our services</h1>
        <p>
            1SolveSolutions aims to provide services to builders, traders, restaurant owners,
            business associates, insurance brokers, local businesses and professional associations. Giving them a cost-effective and professional business solution.
        </p>
        <div class="card-panel">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">monetization_on</i> Telesales - Outbound Call Centre Services</span>
                <p>
                    Our experienced <strong>Telesales</strong> representatives will contact your existing customers and new prospects to attempt to sell products or services.
                    We will use a database you have provided to identify customers who have bought a product in the past or prospects whose profiles indicate that they are likely to buy.
                    Using our telesales team to sell directly to customers can increase sales and reduce the cost of sales, compared with the equivalent cost of a field sales team.
                </p>
                <a href="@Url.Action("Outbound", "HowItWorks")" class="waves-effect waves-light btn blue">Learn More</a>
            </div>
        </div>
        <div class="divider">     </div>
        <div class="card-panel">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">contact_phone</i> Telemarketing - Outbound Call Centre Services</span>
                <p>
                    Our experienced <strong>Telemarketing</strong> representatives will promote a wide variety of your products and services either via direct selling or through information gathering.
                    They will contact people to solicit sales by reading scripts and describing products. It's just like normal selling, we will bring the shopping experience right at your customers.
                </p>
                <a href="@Url.Action("Outbound", "HowItWorks")" class="waves-effect waves-light btn blue">Learn More</a>
            </div>

        </div>
        <div class="divider">     </div>
        <div class="card-panel">
            <div class="card-content black-text">
                <span class="card-title center-align"><i class="material-icons center-align">phone_in_talk</i> Customer Service with Empathy - Inbound Call Centre Service</span>
                <p>
                    Our experienced <strong>Customer Service</strong> representatives will answer products and services questions; suggesting information about other products and services (inbound sales).
                    Will resolve products or services problems by clarifying the customer's complaint; determining the cause of the problem; selecting and explaining the best solution to solve the problem; expediting correction or adjustment; following up to ensure resolution.
                </p>
                <a href="@Url.Action("Outbound", "HowItWorks")" class="waves-effect waves-light btn blue">Learn More</a>
            </div>

        </div>
        <div class="divider">     </div>
        <div class="card-panel">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">assistant</i> Virtual Assistants</span>
                <p>
                    Our experienced <strong>Virtual Assistants</strong> will be able to work independently and enthusiastically keep your business running by freeing up your time by delegating all your clerical and administrative tasks.
                    They are perfect for those repitetive tasks that are clearly defined and give them your time they are more than willing to do more complex business tasks you are comfortable giving to them.
                    A partrnership you can definitely depend on.
                </p>
                <a href="@Url.Action("Outbound", "HowItWorks")" class="waves-effect waves-light btn blue">Learn More</a>
            </div>

        </div>
        <div class="divider">     </div>
        <div class="card-panel">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">sentiment_very_satisfied</i> Personal Secretary</span>
                <p>
                    Our experienced <strong>Personal Secretaries</strong> will be able act as your first point of contact: dealing with correspondence and managing your team.
                    Keeping diaries and organising meetings and appointments,  they will do booking and travel arrangements, transport and accommodation for you.

                </p>
                <a href="@Url.Action("Outbound", "HowItWorks")" class="waves-effect waves-light btn blue">Learn More</a>
            </div>

        </div>
        <div class="divider">     </div>
        <div class="card-panel">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">assignment_turned_in</i> Operational Support</span>
                <p>
                    Our experienced <strong>Operational Supports</strong> will be able to perform any duties that are needed for your business to run smoothly.
                    They will be able to effectively delegate information to other teams or departments within your organization. Effectively communicate with your team members and have the ability to rapidly record information. Order supplies and prepare sales report.

                </p>
                <a href="@Url.Action("Outbound", "HowItWorks")" class="waves-effect waves-light btn blue">Learn More</a>
            </div>

        </div>
    </div>
</div>
@{
    Html.RenderPartial("_Contact");
}